<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Chatbot PACO</title>
    
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
  
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" /> 
  </head>

  <body>
    <!-- Chatbot container -->
    <main>  
      <div class="chatbot">
        <div class="chat-header">
          <h1 class="line-art-title">PACO</h1>
        </div>
        
        <div class="spacer" id="messages-container"></div>
        
        <form class="chat-form" id="message-form" onsubmit="return false;">
          <textarea id="message-input" placeholder="Escribe un mensaje..." rows="1" required></textarea>
          <button type="submit" aria-label="Enviar mensaje">➤</button> 
        </form>
      </div>
    </main>

    <div class="header-sub-text">
      <p>Copyright © 2026 <span class="red">❤</span></p>
    </div>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>


